header#cabecalho {
    
    
}
div#topo{
    
  display: flex;
  align-items: center;
  justify-content: center;
}
nav#menu ul {
    list-style: none;
    text-transform: uppercase;  
    text-align: center;
}
nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 20px 10px;
    margin: 70px;
    transition: background-color 1s;
}
nav#menu li:hover {
    
    background-color: #606060;
}
nav#menu a{
    
    color: #000000;
    text-decoration: none;
}
nav#menu a:hover{
    
    color: #ffffff;
}
body {
   
}

div#interface {
    
    width: 1100px;
    height: auto;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba( 0, 0, 0, .6);
}
section {
    
    border: 1px solid black;
    padding: 20px 10px 20px 10px;
    margin-top: 0px;
}

section input {
    
    margin: 10px 5px 10px 5px;
}

section select {
    
    margin: 10px 5px 10px 5px;
}
section input[type=number]::-webkit-inner-spin-button,section input[type=number]::-webkit-outer-spin-button {
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0px;
    
}

h1 {
    
}

h3 {
    background-color: rgba( 0, 0, 0, .7);
    padding-left: 8px;
    color: white;
    margin-bottom: 0px;
}

h1, h2, h3, h4, h5, h6 {
    
}

h3, h4, h5 ,h6 {
    
}

#botao {
   display: block;
   margin: 30px 0px 0px 1035px;
   

}

