@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
div#interface {
    
    width: 900px;
    height: auto;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba( 0, 0, 0, .6); 
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}
input::placeholder {
  color: #baadad;
}
section .form {
    
     border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    font-family: helvetica;
    background-color: #ddd2d2;
    border: 1px solid black;
    padding: 20px 10px 20px 10px;
    margin-top: 0px;
}
section input, select{
    
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #cccccc; 
    border:1px solid #000000;
    height:20px;
    margin: 5px 5px 10px 5px;
}
section select {
    
    height:23px;
       
}
input, select:hover, textarea:hover{ 
         background: #ffffff; border:1px solid black;
          
}
input, select, textarea {
    
    padding-left: 5px;
    
}
section input, select{
        background: whitesmoke;
        color:black;
        font-size: 12pt;
}
input[type=date]::-webkit-inner-spin-button { 
    
    -webkit-appearance: none;
}
input[type=date]::placeholder{
    font-family: arial;
}
h3
{
     border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    font-family: helvetica;
    background-color: rgba( 0, 0, 0, .7);
    padding-left: 10px;
    color: white;
    margin-bottom: 0px;
}
#botao, #imprimir {
    
    visibility: hidden;
}
form {
    margin-top: 5px;
}