@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

header{
    height: 130px;
    width: 100%;
    display: inline-flex;
}

.logomarca{
    height: 130px;
    width: 350px;
    float: left;
    display: inline;
    margin-right: auto;
}

.logo{
    margin: 20px 0 0 30px;
    height: 80px;
}

.box{
    height: 130px;
    width: 300px;
    float: right;
    display: inline;
    margin-left: auto;
    padding-right: 50px;
}

.redondo{
    
    visibility: hidden;
}

.redondo:hover{
    height: 82px;
    width: 82px;
    border-radius: 50%;
    float: left;
    position: relative;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.seta{
    
    visibility: hidden;
}

.seta:hover{
    height: 17px;
    width: 17px;
    float: right;
    display: inline-block;
    margin-top: 35px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}


.dropdown{
    position: relative;
    display: inline-block;
    width: 105px;
    float: right;
    margin: 30px 0 0 0;
    height: 85px;
}

.dropdown_content{
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    min-width: 133px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 85px;
}

.dropdown .dropdown_content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover{
    background-color: #D6D6D6;
}

.dropdown:hover .dropdown_content{
    display: block;
}

.dropdown:hover .redondo{
    background-color: #3E8E41;
}

#registros{
    
   visibility: hidden;
}

#menu{
    
    visibility: hidden;
}

#dadosbusca{
    
    width: 950px;
    height: 200px;
    margin: auto 0px auto 70px;
}
#dadoscolab {
    
    width: 375px;
    height: 200px;
    margin: 20px auto 20px auto;
    padding: 10px 35px 0px 35px;
    box-shadow: 0px 0px 10px rgba( 0, 0, 0, .2);
    float: left;
}
p {
    font-size: 14pt;
    color: #333;
    text-decoration: none;
    margin: 25px auto 25px auto;
}
#busca {
    
    visibility: hidden;
}
h3 {
    
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 16pt;
    border-bottom: 2px solid #6DBE4F;
}
h4{
    text-align: left;
    margin-bottom: 10px;
    
}
input[type=date]{ 
    
    visibility: hidden;
    
}
input[type=submit]{
    
    visibility: hidden;
    
}
#consultresult {
    
    width: 800px;
    height: auto;
    margin: 50px auto 100px auto;
    padding: 10px 50px 20px 50px;
    box-shadow: 0px 0px 10px rgba( 0, 0, 0, .2);
    position: static;
}
table {
	opacity: 100;
	width: 700px;
	margin: 10px auto 10px auto;
    padding: 10px 35px 20px 35px;
    box-shadow: 0px 0px 10px rgba( 0, 0, 0, .2);
    
    
}
table td{
	border-bottom: 1px solid #000;
	padding: 5px 10px 5px 10px;
    text-align: center;
	
}
table th{
	border-bottom: 1px solid #000;
	padding: 5px 10px 15px 10px;
}
table td a{
    
	color: black;
}
#rodape {
    
    display: block;
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
    text-align: center;
    background-color: #D3CBCB ;
}

#imprimir {
    
  visibility: hidden;
}
